.order-list-wrapper {
  background-color: #b7b7b7;
  padding-top: 35px;
}

.order-list {
  margin: 30px 16px;

  h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

